In [37]:
import pandas as pd
import numpy as np
import random as rdm
x=rdm.sample(range(10),10)
y=rdm.sample(range(10),10)
df=pd.DataFrame({'X':x, 'Y':y})
df

   X  Y
0  0  5
1  5  8
2  4  1
3  7  9
4  8  7
5  9  6
6  6  2
7  1  4
8  2  0
9  3  3

In [38]:
xm=df['X'].mean()
ym=df['Y'].mean()

df['X-Xm']=df['X']-xm
df['Y-Ym']=df['Y']-ym
df

   X  Y  X-Xm  Y-Ym
0  0  5  -4.5   0.5
1  5  8   0.5   3.5
2  4  1  -0.5  -3.5
3  7  9   2.5   4.5
4  8  7   3.5   2.5
5  9  6   4.5   1.5
6  6  2   1.5  -2.5
7  1  4  -3.5  -0.5
8  2  0  -2.5  -4.5
9  3  3  -1.5  -1.5

In [39]:
df['(X-Xm)(Y-Ym)']=df['X-Xm']* df['Y-Ym']
df

   X  Y  X-Xm  Y-Ym  (X-Xm)(Y-Ym)
0  0  5  -4.5   0.5         -2.25
1  5  8   0.5   3.5          1.75
2  4  1  -0.5  -3.5          1.75
3  7  9   2.5   4.5         11.25
4  8  7   3.5   2.5          8.75
5  9  6   4.5   1.5          6.75
6  6  2   1.5  -2.5         -3.75
7  1  4  -3.5  -0.5          1.75
8  2  0  -2.5  -4.5         11.25
9  3  3  -1.5  -1.5          2.25

In [40]:
df['(X-Xm)^2']=df['X-Xm']**2

In [41]:
m=df["(X-Xm)(Y-Ym)"].sum()/df["(X-Xm)^2"].sum()
m

0.47878787878787876

In [42]:
c=ym-m*xm

In [43]:
df['Yp']=m*df['X']+c
df

   X  Y  X-Xm  Y-Ym  (X-Xm)(Y-Ym)  (X-Xm)^2        Yp
0  0  5  -4.5   0.5         -2.25     20.25  2.345455
1  5  8   0.5   3.5          1.75      0.25  4.739394
2  4  1  -0.5  -3.5          1.75      0.25  4.260606
3  7  9   2.5   4.5         11.25      6.25  5.696970
4  8  7   3.5   2.5          8.75     12.25  6.175758
5  9  6   4.5   1.5          6.75     20.25  6.654545
6  6  2   1.5  -2.5         -3.75      2.25  5.218182
7  1  4  -3.5  -0.5          1.75     12.25  2.824242
8  2  0  -2.5  -4.5         11.25      6.25  3.303030
9  3  3  -1.5  -1.5          2.25      2.25  3.781818

In [44]:
df['Eres']=(df['Y']-df['Yp'])**2
df['Ereg']=(df['Yp']-df['Y'])**2

In [45]:
SSreg=df['Ereg'].sum()
SSres=df['Eres'].sum()
SStotal=SSreg+SSres
R_square=SSreg/SStotal
R_square

0.5